.app {
  overflow: hidden;
  font-family: 'Averia Serif Libre', cursive;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

button {
  outline: transparent;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  outline: transparent;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 7px 15px 6px;
  background-color: white;
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  font-family: 'Fredericka the Great', cursive;
  font-weight: normal;
}

header p {
  padding: 0px 5px;
  margin: 0;
  font-size: 24px;
}

.loginform,
.registerform {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform form,
.registerform form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginform input[type='text'],
.loginform input[type='password'],
.registerform input[type='text'],
.registerform input[type='password'],
.registerform input[type='email'] {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid grey;
  margin: 10px;
  padding: 5px;
}

.loginform button,
.registerform button {
  max-width: 100px;
  font: 20px helvetica;
  padding: 10px;
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 150px;
  right: 0;
  top: 53px;
  height: calc(100vh - 53px - 39px);
  border-left: 1px solid black;
  transition: .25s all;
  background-color: white;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  width: 100%;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

main {
  padding: 0px 10px 0px 10px;
  margin: 53px 0px 39px 0px;
  width: calc(100vw - 20px);
  height: calc(100vh - 92px);
  overflow-y: auto;
}

.book-read-toggle {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
}

.book-read-toggle span {
  margin: 0 5px;
}

.book-single-container,
.book-create-button,
.project-create-button,
.char-loc-create-button,
.chapter-create-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.char-loc-single {
  margin: 10px 0;
}

.char-loc-single-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.char-loc-single-bottom p {
  margin: 10px 0;
}

.book-single-container,
.book-create-button,
.project-create-button,
.char-loc-create-button {
  width: 100%;
}

.chapter-create-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 75px;
  margin: 5px;
}

.book-create-button,
.project-create-button,
.chapter-create-button,
.char-loc-create-button {
  border: 1px solid black;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.book-single,
.project-single,
.char-loc-single,
.chapter-single {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.book-single,
.project-single,
.char-loc-single {
  width: 100%;
}

.project-single {
  margin: 10px 0;
}

.chapter-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.chapter-single {
  min-width: 30%;
  max-width: 30%;
  margin: 5px;
  cursor: pointer;
}

.chapter-number {
  align-self: center;
}

.book-single-top,
.book-single-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.book-single-top {
  justify-content: space-between;
  margin: 5px;
}
.book-single-bottom,
.project-single-bottom {
  display: flex;
  justify-content: flex-end;
}

.project-single-bottom a {
  background-color: tan;
  margin-right: -6px;
  margin-bottom: -6px;
  border-right: 1px solid saddlebrown;
  border-bottom: 1px solid saddlebrown;
  border-radius: 5px 0 5px 0 ;
  font-size: 24px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  padding: 5px 0px 2px 2px;
}

.book-single-info {
  width: 94%;
  border: 1px solid grey;
  border-radius: 0px 0px 5px 5px;
  border-top: 0;
  padding: 5px;
  animation: slide-down .5s;
  transform-origin: 50% 0%;
  min-height: auto;
}

.bookcreateform,
.projectcreateform,
.chaptercreateform,
.char-loc-createform {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.chaptercreateform {
  min-width: 30%;
}

.bookcreateform form,
.projectcreateform form,
.chaptercreateform form,
.char-loc-createform form {
  display: flex;
  flex-direction: column;
}

.bookcreateform input[type='text'],
.projectcreateform input[type='text'],
.char-loc-createform input[type='text'] {
  font-size: 16px;
  margin-bottom: 5px;
}

.bookcreateform .buttons,
.book-single .buttons,
.projectcreateform .buttons,
.chaptercreateform .buttons,
.char-loc-createform .buttons,
.char-loc-single .buttons,
.chapter .buttons,
.links {
  display: flex; 
  justify-content: flex-end;
  margin-right: -6px;
  margin-bottom: -6px;
}

.feedback-modal .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bookcreateform button,
.book-single button,
.projectcreateform button,
.chaptercreateform button,
.char-loc-createform button,
.char-loc-single button,
.feedback-modal button,
.chapter button,
.links button {
  margin-left: 0px;
  border: none;
  font-size: 24px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  padding: 2px 6px 3px;
}

.char-loc-single .char-loc-info-toggle-button {
  margin-top: -6px;
  margin-right: -6px;
  border-radius: 0px 5px 0px 5px;
}

.book-single .mark-read-toggle-button {
  font-size: 16px;
  width: 60px;
  border-radius: 5px 0px 0px 0px;
  background-color: rgb(33, 150, 243);
  border-bottom: 1px solid navy;
}

.book-single .mark-read-toggle-button i {
  margin: 0 2px;
}

.book-single .book-info-toggle-button {
  border-radius: 0px 0px 5px 0px;
  border-bottom: 1px solid darkslategray;
  border-right: 1px solid darkslategray;
}

.bookcreateform .submit-button,
.projectcreateform .submit-button,
.chaptercreateform .submit-button,
.char-loc-createform .submit-button,
.char-loc-single .submit-button,
.feedback-modal .submit-button,
.links .submit-button {
  background-color: lightgreen;
  border-bottom: 1px solid forestgreen;
  border-radius: 5px 0px 0px 0px;
}

.bookcreateform .cancel-button,
.projectcreateform .cancel-button,
.chaptercreateform .cancel-button,
.char-loc-createform .cancel-button,
.char-loc-single .cancel-button,
.feedback-modal .cancel-button,
.links .cancel-button {
  background-color: lightcoral;
  border-bottom: 1px solid darkred;
  border-right: 1px solid darkred;
  border-radius: 0px 0px 5px 0px;
}

.feedback-modal .submit-button {
  border-bottom: none;
}

.feedback-modal .cancel-button {
  border-bottom: none;
  border-right: none;
}

.links .edit-button,
.char-loc-single .edit-button,
.chapter .edit-button {
  background-color: lightblue;
  border-bottom: 1px solid darkblue;
  border-radius: 5px 0px 0px 0px;
}

.links .delete-button,
.char-loc-single .delete-button,
.chapter .delete-button {
  background-color: lightcoral;
  border-bottom: 1px solid crimson;
  border-right: 1px solid crimson;
  border-radius: 0px 0px 5px 0px;
}

.chapter .edit-button,
.chapter .delete-button {
  border-bottom: none;
  border-right: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.25);
  padding: 100px 50px;
}

.feedback-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
  max-width: 300px;
  min-height: 200px;
  margin: 0 auto;
  padding: 30px;
}

.feedback-modal form {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-modal textarea {
  outline: transparent;
  height: 100px;
  font-size: 14px;
  margin: 10px 0;
  padding: 5px;
  resize: none;
}

.project-nav {
  display: flex;
  justify-content: center;
}

.project-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 95%;
}

.project-nav li {
  padding: 10px 7px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}

.project-nav li:last-child {
  border-right: 1px solid black;
}

.project .edit-field-button {
  margin-left: 5px;
  opacity: 0;
  transition: .25s all;
  cursor: pointer;
}

.project h3:hover .edit-field-button,
.project h4:hover .edit-field-button,
.project p:hover .edit-field-button {
  opacity: 1;
}

.synopsis,
.chapter-edit,
.chapter,
.char-loc-list {
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: grey;
  border-top: 1px solid grey;
  box-sizing: border-box;
}

footer .book-search-form {
  width: calc(100% - 10px);
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  border-radius: 20px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 5px;
  box-sizing: border-box;
  background-color: white;
}

footer .book-search-form input[type='text'] {
  flex-grow: 1;
  font-size: 18px;
  border: none;
}

.book-search-form button {
  border-radius: 25px;
  border: none;
  font-size: 18px;
  background: transparent; 
}

/* below toggle switch CSS borrowed from W3 schools */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .25s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .25s;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
  margin: 0;
}

.slider.round:before {
  border-radius: 50%;
}
/* above toggle switch CSS borrowed from W3 schools */

.closed {
  width: 1px;
  border: none;
}

.selected {
  background-color: black;
  color: white;
}

@keyframes slide-down {
  0% { transform: scaleY(0) }
}
